---
permalink: /.well-known/security.txt
eleventyExcludeFromCollections: true
---
Contact: mailto:info@onmyradar.pro?subject=Security%20report
Expires: 2027-08-31T23:59:59Z
Preferred-Languages: en, de
Canonical: https://onmyradar.pro/.well-known/security.txt
Policy: https://onmyradar.pro/support/#security
