---
layout: base.njk
locale: en
title: Shared event
description: View verified public event information from OnMyRadar.
permalink: /events/index.html
noindex: true
eventPreview: true
---
{% include "event-preview.njk" %}
