---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
  <url><loc>https://onmyradar.pro/</loc><xhtml:link rel="alternate" hreflang="en" href="https://onmyradar.pro/"/><xhtml:link rel="alternate" hreflang="de" href="https://onmyradar.pro/de/"/><xhtml:link rel="alternate" hreflang="x-default" href="https://onmyradar.pro/"/></url>
  <url><loc>https://onmyradar.pro/de/</loc><xhtml:link rel="alternate" hreflang="en" href="https://onmyradar.pro/"/><xhtml:link rel="alternate" hreflang="de" href="https://onmyradar.pro/de/"/><xhtml:link rel="alternate" hreflang="x-default" href="https://onmyradar.pro/"/></url>
  <url><loc>https://onmyradar.pro/privacy/</loc><xhtml:link rel="alternate" hreflang="en" href="https://onmyradar.pro/privacy/"/><xhtml:link rel="alternate" hreflang="de" href="https://onmyradar.pro/de/privacy/"/><xhtml:link rel="alternate" hreflang="x-default" href="https://onmyradar.pro/privacy/"/></url>
  <url><loc>https://onmyradar.pro/de/privacy/</loc><xhtml:link rel="alternate" hreflang="en" href="https://onmyradar.pro/privacy/"/><xhtml:link rel="alternate" hreflang="de" href="https://onmyradar.pro/de/privacy/"/><xhtml:link rel="alternate" hreflang="x-default" href="https://onmyradar.pro/privacy/"/></url>
  <url><loc>https://onmyradar.pro/terms/</loc><xhtml:link rel="alternate" hreflang="en" href="https://onmyradar.pro/terms/"/><xhtml:link rel="alternate" hreflang="de" href="https://onmyradar.pro/de/terms/"/><xhtml:link rel="alternate" hreflang="x-default" href="https://onmyradar.pro/terms/"/></url>
  <url><loc>https://onmyradar.pro/de/terms/</loc><xhtml:link rel="alternate" hreflang="en" href="https://onmyradar.pro/terms/"/><xhtml:link rel="alternate" hreflang="de" href="https://onmyradar.pro/de/terms/"/><xhtml:link rel="alternate" hreflang="x-default" href="https://onmyradar.pro/terms/"/></url>
  <url><loc>https://onmyradar.pro/how-it-works/</loc><xhtml:link rel="alternate" hreflang="en" href="https://onmyradar.pro/how-it-works/"/><xhtml:link rel="alternate" hreflang="de" href="https://onmyradar.pro/de/so-funktioniert-es/"/><xhtml:link rel="alternate" hreflang="x-default" href="https://onmyradar.pro/how-it-works/"/></url>
  <url><loc>https://onmyradar.pro/de/so-funktioniert-es/</loc><xhtml:link rel="alternate" hreflang="en" href="https://onmyradar.pro/how-it-works/"/><xhtml:link rel="alternate" hreflang="de" href="https://onmyradar.pro/de/so-funktioniert-es/"/><xhtml:link rel="alternate" hreflang="x-default" href="https://onmyradar.pro/how-it-works/"/></url>
  <url><loc>https://onmyradar.pro/support/</loc><xhtml:link rel="alternate" hreflang="en" href="https://onmyradar.pro/support/"/><xhtml:link rel="alternate" hreflang="de" href="https://onmyradar.pro/de/hilfe/"/><xhtml:link rel="alternate" hreflang="x-default" href="https://onmyradar.pro/support/"/></url>
  <url><loc>https://onmyradar.pro/de/hilfe/</loc><xhtml:link rel="alternate" hreflang="en" href="https://onmyradar.pro/support/"/><xhtml:link rel="alternate" hreflang="de" href="https://onmyradar.pro/de/hilfe/"/><xhtml:link rel="alternate" hreflang="x-default" href="https://onmyradar.pro/support/"/></url>
  <url><loc>https://onmyradar.pro/delete-account/</loc><xhtml:link rel="alternate" hreflang="en" href="https://onmyradar.pro/delete-account/"/><xhtml:link rel="alternate" hreflang="de" href="https://onmyradar.pro/de/konto-loeschen/"/><xhtml:link rel="alternate" hreflang="x-default" href="https://onmyradar.pro/delete-account/"/></url>
  <url><loc>https://onmyradar.pro/de/konto-loeschen/</loc><xhtml:link rel="alternate" hreflang="en" href="https://onmyradar.pro/delete-account/"/><xhtml:link rel="alternate" hreflang="de" href="https://onmyradar.pro/de/konto-loeschen/"/><xhtml:link rel="alternate" hreflang="x-default" href="https://onmyradar.pro/delete-account/"/></url>
</urlset>
